In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#set path
rectangle_path = r"C:\Users\Inateck\Documents\parking_provision\off_street_parking\Vector\ParkingRectangles\fittedrectangles.shp"
fitted_rectangles = gpd.read_file(rectangle_path)
fitted_rectangles.head()

,TOID,prop_of_re,geometry
0,osgb1000000254165880,0.882275,"POLYGON ((384627.000 393003.500, 384627.000 39..."
1,osgb1000000254165880,0.887301,"POLYGON ((384627.000 393003.500, 384627.000 39..."
2,osgb1000000254165880,0.890640,"POLYGON ((384627.000 393003.500, 384627.000 39..."
3,osgb1000000254166184,0.698710,"POLYGON ((384807.000 393006.000, 384806.500 39..."
4,osgb1000000254166184,0.698727,"POLYGON ((384807.500 393007.000, 384807.000 39..."

In [4]:
lsoa_path = r"Y:\Data Strategy\GIS Shapefiles\LSOA\Lower_Layer_Super_Output_Areas_(December_2011)_Boundaries_Super_Generalised_Clipped_(BSC)_EW_V3.shp"
lsoa = gpd.read_file(lsoa_path)
lsoa.head()

,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,BNG_E,BNG_N,LONG,LAT,Shape__Are,Shape__Len,geometry
0,1,E01000001,City of London 001A,City of London 001A,532129,181625,-0.097060,51.51810,157794.481079,1685.391778,"POLYGON ((532282.629 181906.496, 532248.250 18..."
1,2,E01000002,City of London 001B,City of London 001B,532480,181699,-0.091970,51.51868,164882.427628,1804.828196,"POLYGON ((532746.814 181786.892, 532248.250 18..."
2,3,E01000003,City of London 001C,City of London 001C,532245,182036,-0.095230,51.52176,42219.805717,909.223277,"POLYGON ((532293.068 182068.422, 532419.592 18..."
3,4,E01000005,City of London 001E,City of London 001E,533581,181265,-0.076280,51.51452,212682.404259,2028.654904,"POLYGON ((533604.245 181418.129, 533743.689 18..."
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,544994,184276,0.089318,51.53876,130551.387161,1716.896118,"POLYGON ((545271.918 184183.948, 545296.314 18..."

In [5]:
fitted_rectangles.crs

<Projected CRS: EPSG:27700>
Name: OSGB36 / British National Grid
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: United Kingdom (UK) - offshore to boundary of UKCS within 49°45'N to 61°N and 9°W to 2°E; onshore Great Britain (England, Wales and Scotland). Isle of Man onshore.
- bounds: (-9.01, 49.75, 2.01, 61.01)
Coordinate Operation:
- name: British National Grid
- method: Transverse Mercator
Datum: Ordnance Survey of Great Britain 1936
- Ellipsoid: Airy 1830
- Prime Meridian: Greenwich

In [6]:
lsoa.crs

<Projected CRS: EPSG:27700>
Name: OSGB36 / British National Grid
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: United Kingdom (UK) - offshore to boundary of UKCS within 49°45'N to 61°N and 9°W to 2°E; onshore Great Britain (England, Wales and Scotland). Isle of Man onshore.
- bounds: (-9.01, 49.75, 2.01, 61.01)
Coordinate Operation:
- name: British National Grid
- method: Transverse Mercator
Datum: Ordnance Survey of Great Britain 1936
- Ellipsoid: Airy 1830
- Prime Meridian: Greenwich

In [8]:
parking_lsoa = gpd.sjoin(fitted_rectangles, lsoa, )

In [9]:
parking_lsoa.head()

,TOID,prop_of_re,geometry,index_right,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,BNG_E,BNG_N,LONG,LAT,Shape__Are,Shape__Len
0,osgb1000000254165880,0.882275,"POLYGON ((384627.000 393003.500, 384627.000 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733
1,osgb1000000254165880,0.887301,"POLYGON ((384627.000 393003.500, 384627.000 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733
2,osgb1000000254165880,0.890640,"POLYGON ((384627.000 393003.500, 384627.000 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733
3,osgb1000000254166184,0.698710,"POLYGON ((384807.000 393006.000, 384806.500 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733
4,osgb1000000254166184,0.698727,"POLYGON ((384807.500 393007.000, 384807.000 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733

In [10]:
parking_lsoa_left = gpd.sjoin(fitted_rectangles, lsoa, how='left')

In [11]:
parking_lsoa_left.head()

,TOID,prop_of_re,geometry,index_right,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,BNG_E,BNG_N,LONG,LAT,Shape__Are,Shape__Len
0,osgb1000000254165880,0.882275,"POLYGON ((384627.000 393003.500, 384627.000 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733
1,osgb1000000254165880,0.887301,"POLYGON ((384627.000 393003.500, 384627.000 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733
2,osgb1000000254165880,0.890640,"POLYGON ((384627.000 393003.500, 384627.000 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733
3,osgb1000000254166184,0.698710,"POLYGON ((384807.000 393006.000, 384806.500 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733
4,osgb1000000254166184,0.698727,"POLYGON ((384807.500 393007.000, 384807.000 39...",5134,5135,E01005274,Manchester 038A,Manchester 038A,384420,392927,-2.23596,53.4329,340589.423126,3078.693733

In [12]:
parking_lsoa_right = gpd.sjoin(fitted_rectangles, lsoa, how='right')

In [13]:
parking_lsoa_right.head()

,index_left,TOID,prop_of_re,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,BNG_E,BNG_N,LONG,LAT,Shape__Are,Shape__Len,geometry
0,NaN,NaN,NaN,1,E01000001,City of London 001A,City of London 001A,532129,181625,-0.097060,51.51810,157794.481079,1685.391778,"POLYGON ((532282.629 181906.496, 532248.250 18..."
1,NaN,NaN,NaN,2,E01000002,City of London 001B,City of London 001B,532480,181699,-0.091970,51.51868,164882.427628,1804.828196,"POLYGON ((532746.814 181786.892, 532248.250 18..."
2,NaN,NaN,NaN,3,E01000003,City of London 001C,City of London 001C,532245,182036,-0.095230,51.52176,42219.805717,909.223277,"POLYGON ((532293.068 182068.422, 532419.592 18..."
3,NaN,NaN,NaN,4,E01000005,City of London 001E,City of London 001E,533581,181265,-0.076280,51.51452,212682.404259,2028.654904,"POLYGON ((533604.245 181418.129, 533743.689 18..."
4,NaN,NaN,NaN,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,544994,184276,0.089318,51.53876,130551.387161,1716.896118,"POLYGON ((545271.918 184183.948, 545296.314 18..."

In [14]:
parking_lsoa.groupby('LSOA11CD').count()

,TOID,prop_of_re,geometry,index_right,OBJECTID,LSOA11NM,LSOA11NMW,BNG_E,BNG_N,LONG,LAT,Shape__Are,Shape__Len
LSOA11CD,,,,,,,,,,,,,
E01005180,23,23,23,23,23,23,23,23,23,23,23,23,23
E01005183,222,222,222,222,222,222,222,222,222,222,222,222,222
E01005184,343,343,343,343,343,343,343,343,343,343,343,343,343
E01005270,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042
E01005271,27,27,27,27,27,27,27,27,27,27,27,27,27
E01005272,154,154,154,154,154,154,154,154,154,154,154,154,154
E01005273,640,640,640,640,640,640,640,640,640,640,640,640,640
E01005274,536,536,536,536,536,536,536,536,536,536,536,536,536
E01005278,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267,1267
E01005279,367,367,367,367,367,367,367,367,367,367,367,367,367
E01005304,32,32,32,32,32,32,32,32,32,32,32,32,32

In [15]:
parking_lsoa.size

65142

In [16]:
len(parking_lsoa)

4653

In [17]:
len(fitted_rectangles)

4589

In [18]:
len(lsoa)

34753